body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 10px;
    background-color: #531478;
}
article{
    text-align: justify;
}

main {
    width: 80%;
    max-width: 1000px;
    margin: 30px auto;
    padding: 30px;
    background-color:#531478;
}

.titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#EDD00C;
    padding: 20px 10px;
    text-align: center;
    color:black;
    border-right: solid black 7px;
    border-left: solid black 7px;;
    border-bottom: solid black 7px;
    border-top: solid black 7px;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.titulo h1 {
    margin: 5px;
    font-size: 2.5em;
}

h1{font-family: Georgia, 'Times New Roman', Times, serif;}

.mas-vendidos {font-family: Georgia, 'Times New Roman', Times, serif;

    background-color:#EDD00C;
    color ;black
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;

}

.mas-vendidos h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
    margin: 30px;
    padding: 25px;
}

.juego {
    background-color:#333399 ;
    color: white;
    padding: 30px;
    margin: 29px 45;
    border-radius: 15px;

}

.juego-header {
    display: flex;
    justify-content: flex-end;
}

.juego-header h3 {
    margin: 0;
    color: black;
    text-align: right;
    margin-bottom: 20px;
    border-bottom: 5cap;
    border-bottom: double;
    width: 95%;
}

.juego figure {
    margin: 5%;
    text-align: left;
    margin-top: 10px;
}

.juego img {
    max-width: 110px;
    height: unset;
    border-radius: 15px;
}

.juego p {
    margin: 12px 0;
    text-align: center;
    font-size: 15px;
}

.mas-vendidos h3 {
    color: #BC105C ;
    border-bottom: dashed 2px;
    }

button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font: bold 15px arial;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #E11364;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #E96093;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
}

footer p {
    margin: 5px 0;
    font-size: 8px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
