body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E11364;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #E11364;
}

.titulo {
    background-color: #BC105C;
    padding: 20px 0;
    text-align: center;
    color: white;
    border-left-style: outset;
    border-left-width: 4px;
    border-left-color: white;
    border-right-style: outset;
    border-right-width: 4px;
    border-right-color: white;
}

.titulo h1 {
    margin: 0;
    font-size: 2.5em;
}

.mas-vendidos {
    margin-top: 20px;
    background-color: #BC105C;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.mas-vendidos h2 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
}

.juego {
    background-color: white;
    color: #333;
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;
}

.juego-header {
    display: flex;
    justify-content: flex-end;
}

.juego-header h3 {
    margin: 0;
    color: #e4007c;
    text-align: right;
    border-bottom: dashed;
    margin
}

.juego figure {
    margin: 0;
    text-align: center;
}

.juego img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.juego p {
    margin: 10px 0;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #e4007c;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
